div[class^=style-dark_style] .wp-post-image.attachment-easy_testimonial_thumb, div[class^=style-default_style] .wp-post-image.attachment-easy_testimonial_thumb, div[class^=style-light_style] .wp-post-image.attachment-easy_testimonial_thumb {
  background: url(../../../../../../uploads/2017/04/American-appliance-logomark-img.jpg)!important;
}

a {
  color: #A21C21;
  text-decoration: none;
}

#post-2140 ul#subpages_sc_2140 {
  padding: 0;
}

#post-2140 ul#subpages_sc_2140 li {
  width: 100%;
}

.page-id-20 .map-section-area, .page-id-20 footer.motopress-wrapper.footer {
  display: none;
}

.page-id-6951 iframe#bfpublish {
  height: 3925px;
}

.page-id-6156 blockquote.easy_testimonial {
  background: rgb(233,224,215);
  padding: 10px!important;
  border-radius: 5px;
  width: 97%;
}

.floatLeft {
  Float: left;
  width: 255px;
}

.clearP {
  Clear: both;
}

.content-holder .title-section .title-header {
  font-size: 40px;
  padding-bottom: 10px;
}

#text-12 #fsSubmit1400945 {
  background: transparent!important;
}

.mobo_phone {
  display: none;
}

#content h2 {
  font: normal 36px/48px Ubuntu!important;
  margin-bottom: 23px;
  color: #253993;
}

blockquote.easy_testimonial {
  padding: 0px!important;
}

.booking-form-wrap .fsValidationError, .booking-form-wrap .drOgC {
  background-color: transparent!important;
}

.booking-form-wrap .hjaXRz {
  padding: 0;
  overflow: hidden;
}

.booking-form-wrap .kwuoPU {
  min-width: 100%;
}

.booking-form-wrap .hGsbrM {
  padding: 0;
  max-width: 100%;
  width: 100%;
}

.booking-form-wrap #fsForm1400945 .fsValidationError #field18648284, .booking-form-wrap #fsForm1400945 .fsValidationError #field18648285, .booking-form-wrap #fsForm1400945 .fsValidationError #field18648286, .booking-form-wrap #fsForm1400945 .fsValidationError #field31150984, .booking-form-wrap #fsForm1400945 .fsValidationError #field18648287 {
  background-color: #ff0000!important;
}

.booking-form-wrap #fsForm1400945 #field18648284:focus, .booking-form-wrap #fsForm1400945 #field18648285:focus, .booking-form-wrap #fsForm1400945 #field18648286:focus, .booking-form-wrap #fsForm1400945 #field31150984:focus, .booking-form-wrap #fsForm1400945 #field18648287:focus {
  background-color: #182662!important;
}

.page-id-203 .booking-form-wrap input[type="text"]:-webkit-autofill, .page-id-203 .booking-form-wrap input[type="email"]:-webkit-autofill, .page-id-203 .booking-form-wrap input[type="tel"]:-webkit-autofill, .page-id-203 .booking-form-wrap input[type="password"]:-webkit-autofill, .page-id-203 .booking-form-wrap textarea:-webkit-autofill {
  -webkit-text-fill-color: #fff!important;
  background-color: #182662!important;
  box-shadow: 0 0 0 1000px #182662 inset!important;
}

.booking-form-wrap .fsError {
  background-color: #ff0000!important;
  font-weight: 600!important;
  color: #fff!important;
  font-size: 15px!important;
}

.sl-form #fsForm1400945 .fsFieldFocused {
  background-color: transparent!important;
}

.sl-form #fsForm1400945 #field18648287 {
  height: 100px!important;
}

.sl-form #fsForm1400945 #field18648284, .sl-form #fsForm1400945 #field18648285, .sl-form #fsForm1400945 #field31150984, .sl-form #fsForm1400945 #field18648287 {
  border: 1px solid #999;
  border-top: 1px solid #7c7c7c;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #ddd;
  padding: 10px!important;
  font-size: 14px!important;
  line-height: 18px!important;
  font-weight: 700!important;
  max-width: 95%;
}

.sl-form #fsForm1400945 #field18648286 {
  width: 95%;
  height: 30px;
}

#content h3 {
  color: #A00A16;
  font-size: 32px;
}

#content h4 {
  color: #A00A16;
  font-size: 28px;
}

li {
  line-height: 27px;
}

#content ul {
  list-style: square;
  padding-left: 18px;
  margin-bottom: 23px;
}

.flist {
  float: left;
  width: 250px;
}

.clear {
  clear: both;
}

.iconed_block p {
  font-size: 13px;
}

.booking-form-wrap .fsBody .fsForm .fsRequiredLabel, .booking-form-wrap #label38337493 {
  display: none;
}

.booking-form-wrap .gJBIUL {
  color: #fff;
}

.booking-form-wrap .gqkVov {
  margin-top: 0;
}

.booking-form-wrap #fsForm1400945 #field18648284, .booking-form-wrap #fsForm1400945 #field18648285, .booking-form-wrap #fsForm1400945 #field18648286, .booking-form-wrap #fsForm1400945 #field31150984, .booking-form-wrap #fsForm1400945 #field18648287 {
  background-color: transparent!important;
  padding: 12px 0 13px!important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #42B3E5!important;
  background-image: none!important;
}

.booking-form-wrap #fsForm1400945 #field18648286 {
  background-image: none;
  box-shadow: none;
  width: 100%;
}

.booking-form-wrap .fsBody .fsRowBody {
  padding: 0;
}

.booking-form-wrap .fsBody .fsForm {
  background-color: transparent;
}

.booking-form-wrap #fsSubmitButton1400945 {
  width: 93%!important;
  height: 45px!important;
  border: none!important;
  border-radius: 5px!important;
  background-color: #56A500!important;
  color: #fff!important;
  background-image: url(../../../../../../themes/theme/images/btn-bg-strip.jpg)!important;
  background-repeat: repeat!important;
}

.booking-form-wrap #fsSubmitButton1400945:hover {
  background-color: #AC2E38!important;
}

.booking-form-wrap #fsForm1400945 #field38337492, .booking-form-wrap #fsForm1400945 #field38337494, .booking-form-wrap #fsForm1400945 #field38337495 {
  width: 100%;
}

.booking-form-wrap #fsForm1400945 #field38337493 {
  width: 94%;
  background-image: none;
  padding: 10px 12px;
  margin-bottom: 0px!important;
}

.booking-form-wrap #fsForm1400945 #field38337502 {
  width: 95%;
  padding: 10px 13px;
  color: #fff;
  margin-bottom: 0px!important;
}

.booking-form-wrap option {
  background-color: #253993;
  color: #fff;
}

.booking-form-wrap #fsForm1400945 #field18648287 {
  height: 75px!important;
}

.booking-form-wrap #fsForm1400945 #field38337492:focus, .booking-form-wrap #fsForm1400945 #field38337494:focus, .booking-form-wrap #fsForm1400945 #field38337502:focus, .booking-form-wrap #fsForm1400945 #field38337495:focus, .booking-form-wrap #fsForm1400945 #field38337493:focus {
  outline: none;
}

.booking-form-wrap #fsForm1400945 .fsFieldFocused {
  background-color: transparent!important;
}

.mini-posts-list .featured-thumbnail img {
  width: 80px;
}

.dui-video {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 90%;
  margin-bottom: 30px;
}

.dui-video li {
  border-bottom: dashed 1px #C7C7C7;
  padding: 10px 0;
  margin: 5px 0;
  font-size: 12px;
}

.dui-video li:last-child {
  border-bottom: none;
}

.dui-video li a {
  color: #FFF;
  display: block;
}

.dui-video li i.fa.fa-film {
  float: left;
  font-size: 25px;
  color: #890000;
  margin-right: 5%;
  margin-top: 12px;
}

.cf:after {
  content: ' ';
  display: block;
  clear: both;
}

ul.cf.dui-video h3 {
  font-size: 18px;
  margin-bottom: 0;
}

ul.cf.dui-video li br, ul.cf.dui-video li p {
  display: none;
}

.more-video {
  background-color: #ABCC26;
  color: #fff;
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
}

#map_canvas {
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 30!important;
  clear: both;
}

.location-map {
  width: 100%!important;
  border: 0px!important;
}

.location-map {
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 0 0;
  min-width: 1000px;
}

.location-links, .location-links2 {
  list-style: none;
  width: 100%;
  display: block;
  padding: 0;
  clear: both;
}

.location-links li, .location-links2 li {
  padding: 0;
  width: 100%;
  height: 125px;
  margin: 0 0 -15px;
  text-align: center;
  color: #666;
  float: left;
  position: relative;
  z-index: 20;
  margin-bottom: 0;
  text-decoration: none;
}

.page-id-20 .location-links li a {
  height: inherit;
}

.page-id-20 .location-links li, .page-id-20 .location-links2 li {
  height: 140px;
}

.page-id-20 ul.location-links li h3 {
  font-size: 22px!important;
}

.location-links li a {
  width: 100%;
  height: 125px;
  text-align: center;
  color: #000;
  float: left;
  position: relative;
  z-index: 20;
  background: #F6F6F6;
  text-decoration: none;
}

ul.location-links li h3 {
  font-size: 22px;
  margin-bottom: 0;
  padding-top: 15px;
  color: #fff!important;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

ul.location-links p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  text-shadow: 0 2px 2px rgba(0,0,0,.15);
}

.location-map td {
  width: 25%;
}

p.schedule-service {
  text-transform: capitalize;
}

.social li:last-child {
  margin-left: 0px!important;
  margin-top: 10px;
}

p.logo_tagline {
  display: none;
}

.h3color {
  color: #253993;
}

#social_networks-2 {
  margin-top: 15px;
}

.free-consultation {
  text-align: center;
  font-size: 16px;
  color: #FFF;
  background-color: #253993;
  padding: 10px 30px;
  margin-top: -12px;
  display: inline-block;
  float: right;
  border-radius: 0 0 7px 7px;
  text-transform: uppercase;
  font-weight: 500;
  word-spacing: 4px;
}

.free-consultation em {
  font-weight: 600;
  color: #B48C73;
}

.free-consultation:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,.5);
  box-shadow: 0 0 15px rgba(0,0,0,.5);
}

.extra-wrap h4 a {
  color: #253993;
}

.extra-wrap h4 a:hover {
  color: #193764;
}

.extra-wrap p a {
  color: #253993;
  font-weight: 500;
}

.mini-post-content h4 a {
  color: #fff;
}

.mini-posts-list .btn, .more-videos {
  background-color: #bfa28f!important;
  padding: 10px 20px 15px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  font-size: 16px;
}

.mini-post-content .btn:hover, .more-videos:hover {
  background-color: #B8927B!important;
  color: #fff!important;
}

.sidebar-banner img {
  margin-bottom: 30px;
}

.slider-wrapper a::before {
  content: ""!important;
}

.first-top {
  border-bottom: 3px solid #B48C73;
  width: 85%;
  margin: 0 auto;
}

.first-top .title {
  background-color: #B48C73;
  color: #5C4233;
  font-size: 58px;
  text-transform: Uppercase;
  padding: 10px 25px;
  font-weight: 600;
  letter-spacing: 10px;
}

.first-top .sub-heading {
  background-color: transparent;
  color: #B48A73;
  font-size: 50px;
  font-weight: 600;
  text-transform: Uppercase;
  padding: 15px 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.second-bottom {
  font-size: 42px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.get-help-btn {
  background-color: transparent!important;
  background-image: none;
  border: double;
  border-radius: 0;
  border-width: 5px;
  padding: 10px 50px!important;
}

#twitter-widget-0 {
  height: 285px!important;
}

.img-wrapper {
  background-color: #253993;
  width: 100px;
  height: 100px;
  float: left;
  text-align: center;
  line-height: 90px;
  margin: 20px 20px 50px 20px;
}

.dui-icon {
  width: 45px;
  margin-top: -50px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.dui-icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.iconed_block .extra-wrap br {
  display: none;
}

.header-top {
  height: 35px;
  background-color: #F6F6F6;
}

.header-top i.fa.fa-facebook, .header-top i.fa.fa-twitter, .header-top i.fa.fa-google-plus, .header-top i.fa.fa-yelp {
  width: 32px;
  height: 24px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  font-size: 16px;
}

.header-top i.fa.fa-facebook {
  background-color: #4A4F55;
  margin-right: -3px;
}

.header-top i.fa.fa-facebook:hover {
  background-color: #3C5998;
}

.header-top i.fa.fa-twitter {
  background-color: #5C6065;
  margin-right: -3px;
}

.header-top i.fa.fa-twitter:hover {
  background-color: #00ACED;
}

.header-top i.fa.fa-google-plus {
  background-color: #706E6E;
  margin-right: -4px;
}

.header-top i.fa.fa-google-plus:hover {
  background-color: #DD4B39;
}

.header-top i.fa.fa-yelp {
  background-color: #8C8C8C;
}

.header-top i.fa.fa-yelp:hover {
  background-color: #BF2E1B;
}

.top-header-right {
  float: right;
  padding-top: 4px;
  font-size: 20px;
}

.top-header-right .ph-no {
  color: #000;
  font-weight: 700;
}

.top-header-right .find-us a {
  color: #253993;
  font-weight: 400;
}

.logo {
  padding-left: 0px!important;
}

.logo img {
  margin-top: -10px;
}

.slider-wrapper h1 {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: bold!important;
  word-spacing: 10px;
}

.slider-wrapper h2 {
  font-size: 38px!important;
}

.service-box {
  border-radius: 0px!important;
}

a.read-more {
  background-color: #253993;
  color: #fff;
  padding: 10px 20px;
}

.expert-wrapper {
  padding: 25px;
  background-color: rgba(0,0,0,.8);
  width: 78%;
  margin: 0 auto;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
}

.excerpt hr {
  width: 25%;
  margin: 15px 0;
  border: 0;
  border-top: 3px solid red;
}

a.readmore-blog {
  color: #F00!important;
  float: right;
}

.who-we-are-latest-blog-wrapper h3 {
  color: #253993;
}

.hexagon {
  position: relative;
  width: 75px;
  height: 43.3px;
  background-color: #253993;
  margin: 21.65px 0;
  margin-right: 20px;
}

.hexagon:before, .hexagon:after {
  content: "";
  position: absolute;
  z-index: -999;
  width: 53.03px;
  height: 53.03px;
  -webkit-transform: scaleY(.5774) rotate(-45deg);
  -ms-transform: scaleY(.5774) rotate(-45deg);
  transform: scaleY(.5774) rotate(-45deg);
  background-color: inherit;
  left: 10.9835px;
}

.hexagon:before {
  top: -26.5165px;
}

.hexagon:after {
  bottom: -26.5165px;
}

.hexagon span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 43.3013px;
  z-index: 2;
  background: inherit;
}

.header-image-overlay, .parallax-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,24,29,.6);
  z-index: 2;
}

.our-brands {
  width: auto;
  height: auto;
}

.first-row .our-brands {
  padding-right: 35px;
  margin-bottom: 25px;
}

.second-row .our-brands {
  padding-right: 78px;
  margin-bottom: 25px;
}

.first-row .our-brands:last-child {
  padding-right: 0;
}

.second-row .our-brands:last-child {
  padding-right: 0;
}

.parallax-content h3 {
  color: #000;
}

.request-service-btn {
  display: inline-block;
  color: #fff;
  background-color: #56A500;
  font-weight: 400;
  padding: 12px 35px 12px 45px;
  position: relative;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.request-service-btn:hover {
  background-color: #abcc26;
  color: #fff;
}

.easy-t-slideshow-wrap {
  height: 100px!important;
  width: 100%!important;
  float: right;
  margin: 50px auto;
  background-position: top left 3px;
}

.testimonial_body {
  padding-left: 85px!important;
  width: 85%;
  float: right;
  background-image: url(../../../../../../themes/theme/images/quato.png);
  background-repeat: no-repeat;
  min-height: 70px;
}

blockquote {
  border-left: none!important;
  width: 100%;
  float: right;
  text-align: left;
  margin-top: -60px;
}

div.easy-t-cycle-prev {
  float: left;
  background: #000;
  padding: 0 9px;
  border-radius: 18px;
}

div.easy-t-cycle-next {
  float: right;
  background: #000;
  padding: 0 9px;
  border-radius: 18px;
}

p.testimonial_author {
  float: left;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer2 {
  background-color: #2B2F34;
}

.footer3, .footer3 a {
  background-color: #25282C;
  color: #9BC9DC;
}

.footer3 a:hover {
  color: #A00A16;
}

.footerlinks {
  color: #9BC9DC;
}

.footer2 h5 {
  color: #A7D9EE;
}

.social-icon-footer {
  width: 33.33%;
  float: left;
  text-align: center;
  min-height: 80px;
}

.social-icon-footer.facebook {
  background-color: #42B3E5;
  padding-top: 29px;
}

.social-icon-footer.facebook:hover {
  background-color: #3C5998;
}

.social-icon-footer i.fa.fa-facebook {
  font-size: 50px;
  color: #fff;
}

.social-icon-footer.twitter {
  background-color: #0384CE;
  padding-top: 29px;
}

.social-icon-footer.twitter:hover {
  background-color: #00ACED;
}

.social-icon-footer i.fa.fa-twitter {
  font-size: 50px;
  color: #fff;
}

.social-icon-footer.google {
  background-color: #3156A3;
  padding-top: 29px;
}

.social-icon-footer.google:hover {
  background-color: #DD4B39;
}

.social-icon-footer i.fa.fa-google-plus {
  font-size: 50px;
  color: #fff;
}

.social-icon-footer.yelp {
  background-color: #253993;
  padding-top: 29px;
}

.social-icon-footer.yelp:hover {
  background-color: #BF2E1B;
}

.social-icon-footer i.fa.fa-yelp {
  font-size: 50px;
  color: #fff;
}

.social-icon-wrapper {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.find-us a:hover {
  color: #9E0A16;
}

.sidebar-banner a img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.sidebar-banner a img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.latest-blog-section {
  margin-bottom: 20px;
  float: right;
}

#arcadia {
  background-color: #9F0A16;
}

#beaumont {
  background-color: #C00C1B;
}

#norco {
  background-color: #E60F21;
}

#diamond {
  background-color: #F33F4E;
}

#glendora {
  background-color: #4A4F55;
}

#dimas {
  background-color: #5F656D;
}

#desert {
  background-color: #727A83;
}

#pasadena {
  background-color: #878E97;
}

#rancho {
  background-color: #253993;
}

#calimesa {
  background-color: #2D46B4;
}

#pedley {
  background-color: #3B56CE;
}

#upland {
  background-color: #5C72D6;
}

p.schedule-service {
  color: #fff!important;
  display: none;
}

.who-we-are-latest-blog-wrapper {
  margin-top: 30px;
}

.second-row {
  text-align: center;
}

.page .booking-form-wrap {
  margin-top: 0;
}

.home .booking-form-wrap {
  margin-top: -90px;
}

#sidebar h3 {
  margin-bottom: 6px;
  background-color: #253993;
  padding: 5px 0;
  color: #fff!important;
  border-radius: 5px 5px 0 0;
}

#sidebar h3 a {
  color: #fff;
  margin-left: 24px;
}

#sidebar .lists-rundown {
  border: 1px solid #CCC;
  margin-top: -6px;
}

ul.no-margin-bottom.lists-rundown li {
  border-bottom: 1px solid #CCC;
}

ul.no-margin-bottom.lists-rundown li a {
  color: #193764;
  font-weight: 400;
  display: block;
  padding: 8px 24px;
}

ul.no-margin-bottom.lists-rundown li a:hover {
  background-color: #ccc;
  border-left: 3px solid #9E0916;
}

.error404-holder {
  padding: 30px 0 25px 0!important;
}

.error404 h2 {
  font: normal 36px/48px Ubuntu!important;
  margin-bottom: 23px;
  color: #253993;
}

.wsm_sitemap ul {
  list-style-type: disc;
  margin-left: 20px;
}

.wsm_sitemap li a {
  color: #5f5f5f!important;
}

.wsm_sitemap ul.children {
  list-style-type: disc;
  margin-left: 30px;
}

.nocomments {
  display: none;
}

.blog .post_wrapper {
  margin-bottom: 40px;
  border-bottom: 3px solid #62666B;
  padding-bottom: 30px;
}

.post-title a:hover {
  color: #A00A16!important;
}

.btn, .btn:focus, .btn:active {
  background: transparent!important;
}

.btn:before, .btn:focus:before, .btn:active:before {
  content: '';
  position: absolute;
  background-color: transparent!important;
}

.single .booking-form-wrap, .blog .booking-form-wrap {
  margin-top: 0;
}

.location-links h3 {
  color: #fff;
}

#location-area ul.location-links {
  padding-left: 0px!important;
}

.get_direction {
  background-color: #B13943;
  color: #fff;
  padding: 8px 14px;
  border-radius: 4px;
}

.get_direction-section {
  margin: 15px 0;
}

.get_direction:hover {
  background-color: #A93741;
  color: #fff;
}

.hours2 {
  padding-left: 135px;
}

.page-id-20 .frm-contact-us {
  background-color: #193764;
}

.page-id-20 .booking-form-inner h3 {
  color: #fff!important;
}

.mPS2id-target-first {
  margin-top: 170px;
}

ol.appliance-faqs {
  list-style-type: disc;
  margin-left: 20px;
  color: #273C91;
}

.contact-us-now:hover {
  background-color: #abcc26;
  color: #fff!important;
}

.contact-us-now {
  display: inline-block;
  color: #fff;
  background-color: #56A500;
  font-weight: 400;
  padding: 5px 35px 10px 45px;
  position: relative;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-top: 20px;
}

p#breadcrumbs-top a {
  color: #AF1E22!important;
}

.nivoSlider {
  border-bottom: none!important;
}

div#post-2381 img {
  margin-right: 10px;
}

.subpages_sc {
  list-style-type: none!important;
}

.subpages_sc li {
  background-color: #A71D21;
  width: 45%;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
  display: block;
}

.subpages_sc li a {
  color: #fff;
  display: block;
  padding: 5px 10px;
}

.subpages_sc li a:hover {
  color: #fff;
}

#fsCaptcha1363967 {
  display: none;
}

#fsForm1363967 #fsSubmitButton1363967 {
  width: 200px!important;
  height: 45px!important;
  border: none!important;
  border-radius: 5px!important;
  background: #56A500!important;
  color: #fff!important;
  font-size: 16px;
  font-weight: 700;
  margin-left: -10px!important;
  box-shadow: none;
}

#fsForm1363967 textarea#field18038828 {
  height: 100px!important;
}

#fsForm1363967 input#field18038827 {
  background-image: none!important;
  width: 95%!important;
  height: 45px!important;
  padding: 0px!important;
}

.fsBody .fsSubField {
  width: 48%!important;
}

.single-post ol {
  margin-left: 20px;
  list-style-type: decimal;
}

#sidebar .booking-form-wrap input[type="text"]:-webkit-autofill, #sidebar .booking-form-wrap input[type="email"]:-webkit-autofill, #sidebar .booking-form-wrap input[type="tel"]:-webkit-autofill, #sidebar .booking-form-wrap input[type="password"]:-webkit-autofill, #sidebar .booking-form-wrap textarea:-webkit-autofill, #post-20 .booking-form-wrap input[type="text"]:-webkit-autofill, #post-20 .booking-form-wrap input[type="email"]:-webkit-autofill, #post-20 .booking-form-wrap input[type="tel"]:-webkit-autofill, #post-20 .booking-form-wrap input[type="password"]:-webkit-autofill, #post-20 .booking-form-wrap textarea:-webkit-autofill {
  -webkit-text-fill-color: #fff!important;
  background-color: #182662!important;
  box-shadow: 0 0 0 1000px #182662 inset!important;
}

.page-id-20 #location-area ul.location-links {
  list-style: none;
}

span.we-hiring {
  padding-right: 75px;
  text-align: left!important;
  font-weight: 600;
  color: #000;
}

#covid-bar {
  background: #253993;
}

#covid-bar p {
  padding: 10px 0!important;
  margin: 0!important;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}

@media only screen and (max-width:767px) {
  span.we-hiring {
    padding-right: 75px;
    text-align: center!important;
    font-weight: 600;
    color: #000;
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width:767px) {
  .top-header-right {
    float: right;
    padding-top: 4px;
    font-size: 20px;
    color: #000;
    position: relative;
    z-index: 999;
    margin-bottom: 22px;
    text-align: center;
  }
}

@media only screen and (max-width:767px) {
  .header-social-icons {
    text-align: center;
  }
}

@media only screen and (max-width:767px) {
  .parallax-slider #mainCaptionHolder .slider_caption {
    text-align: left;
    font-size: 18px;
    line-height: 35px;
    font-weight: 300;
    color: #fff;
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width:767px) {
  .slider-wrapper h1 {
    font-size: 22px!important;
  }
}

@media only screen and (max-width:767px) {
  .home .booking-form-wrap {
    margin-top: 0!important;
  }
}

@media only screen and (max-width:767px) {
  .easy_testimonial_image_wrapper {
    display: none;
  }
}

@media only screen and (max-width:767px) {
  .easy-t-slideshow-wrap {
    margin-top: 0!important;
  }
}

@media only screen and (max-width:767px) {
  .first-row {
    text-align: center;
  }
}

@media only screen and (max-width:767px) {
  .location-map {
    min-width: 100%;
  }
}

@media only screen and (max-width:767px) {
  .location-map td {
    width: 100%!important;
    display: inline-block;
  }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  .slider-wrapper h1 {
    font-size: 48px;
  }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  .easy-t-slideshow-wrap {
    margin-top: 0;
    padding-bottom: 50px!important;
  }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  .top-header-right {
    font-size: 14px;
  }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  span.we-hiring {
    padding-right: 10px;
  }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
  .easy-t-slideshow-wrap {
    margin-top: 0;
    padding-bottom: 50px!important;
  }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
  .top-header-right {
    font-size: 14px;
  }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
  span.we-hiring {
    padding-right: 10px;
  }
}

.span8.right.right .page ol {
  list-style: decimal;
  margin-left: 25px;
  margin-bottom: 20px;
}

.testimonial-home blockquote {
  border-left: none!important;
  width: 85%;
  float: none;
  text-align: left;
  margin-top: -60px;
}

.testimonial-home .easy-t-cycle-controls {
  text-align: center;
  margin-top: -135px;
  z-index: 100;
  position: relative;
}

.testimonial-home .testimonial_body {
  padding-left: 85px!important;
  width: 70%;
}

